body {
    background-color: rgb(178, 233, 178);
}

.recipe-title {
    text-align: center;
    color: rgb(28, 19, 158);
    background-color: rgb(224, 223, 147);
    font-size: 60px;
    line-height: 120%;
    line-break:;
}
.img{
    width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2,
h3 {
    color: maroon;
    margin-left:15%;
    line-height: 40%;
    font-size: 36px;;
    font-family: 'Times New Roman', Times, serif;
}

li,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 17%;
    line-height: 100%;
}

.end {
    line-height: 300%;
}
